extends layout

block content

  // Top Navbar
  div#head-navbar.navbar.navbar-inverse
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",
        data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#about-gofer", role="button", data-toggle="modal") Gofer
        div.nav-collapse
          ul.nav.pull-right
            li
              p.navbar-text.pull-right
                a.nav-a-tag(href="/logout", data-toggle='modal') Sign out
            li.divider-vertical
            li
              p#current-user-email-id.navbar-text.pull-right #{user.email}

  // about Modal
  #about-gofer.modal.hide.fade(tabindex="-1", role="dialog",
    aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-header
      button(type="button", class="close", data-dismiss="modal",
      aria-hidden="true")×
      h3#myModalLabel GoferIT is a student pursuit
    .modal-body
      p.lead Unfortunetly, it is not intended for commercial use...
      p For an explanation of the motivation, technologies, and implementation,
      check out the docs and presentation:
      .span3.offset2
        .btn-group
          a.btn.btn-large.btn-primary(href="https://docs.google.com/document/d/1xzg_vWwYZ5r9C7F0gQLOBNNWQhhc8T698xatHS-lTq0") Docs
          a.btn.btn-large.btn-success(href="https://docs.google.com/presentation/d/1IQ8qjhQYVh53EUxQ8as4icyUv7e7W3pdUWLe46Atq8E") Presentation
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Close

  if info_alert != ''
    div.alert.alert-success
      a.close(href="#", data-dismiss="alert") &times;
      <strong>Wahoo!</strong> #{info_alert}
  if error_alert != ''
    div.alert.alert-error
      button.close(type="button", data-dismiss="alert") &times;
      <strong>Uh Oh!</strong> #{error_alert}
  div#main-alert-div

  div#main.container-fluid
    div.row-fluid
      div.span3
        div#main-nav.well.sidebar-nav
          ul.nav.nav-list
            li.nav-header General
            li#dashboard-link.active
              a(href='#dashboard-main-content', data-toggle='tab')
                <i class='icon-th'></i> Home
            li#pos-link
              a(href='#pos-main-content', data-toggle='tab')
                <i class='icon-shopping-cart'></i> Point Of Sale
            li#inventory-link
              a(href='#inventory-main-content', data-toggle='tab')
                <i class='icon-tags'></i> Inventory
            if user.title === 'admin'
              li.nav-header Management
              li#company-link
                a(href='#company-main-content', data-toggle='tab')
                  <i class='icon-home'></i> Company
              li#people-link
                a(href='#people-main-content', data-toggle='tab')
                  <i class='icon-user'></i> People
              li#finance-link
                a(href='#finances-main-content', data-toggle='tab')
                  <i class='icon-book'></i> Finance
      div.span9
        div#main-window-main-content.tab-content.active
          div#dashboard-main-content.tab-pane.active
            div
              div.hero-unit
                h1 Welcome to Gofer.
                  p.lead an easier way to manage your business
          div#pos-main-content.tab-pane
            div.page-header
              h1 Sales <small> ringing in every transaction </small>
            #sales-main-view
          div#inventory-main-content.tab-pane
            div.page-header
              h1 Inventory <small> everything on one shelf </small>
            div
              ul.nav.nav-pills
                li#product-menu-pill.active
                  a(href='#products-main-view', data-toggle='tab') Stock
                li#order-menu-pill
                  a(href='#orders-main-view', data-toggle='tab') Orders
              .tab-content
                #products-main-view.tab-pane.active
                  .tabbable
                    ul.nav.nav-tabs
                      li#products-list-tab.active
                        a(href='#products-list-view-content', data-toggle='tab') List
                      li#product-item-tab
                        a(href='#product-item-view-content', data-toggle='tab') View
                      li#product-create-tab
                        a(href='#product-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #products-list-view-content.tab-pane.active
                      #product-item-view-content.tab-pane
                      #product-create-view-content.tab-pane
                #orders-main-view.tab-pane
                  .tabbable
                    ul.nav.nav-tabs
                      li#orders-list-tab.active
                        a(href='#orders-list-view-content', data-toggle='tab') List
                      li#order-item-tab
                        a(href='#order-item-view-content', data-toggle='tab') View
                      li#order-create-tab
                        a(href='#order-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #orders-list-view-content.tab-pane.active
                      #order-item-view-content.tab-pane
                      #order-create-view-content.tab-pane

          div#company-main-content.tab-pane
            div.page-header
              h1 Company <small> a profile overview </small>
            #company-main-view
          div#people-main-content.tab-pane
            div.page-header
              h1 People <small> counting who matters most </small>
            div
              ul.nav.nav-pills
                li#customers-menu-pill.active
                  a(href='#customers-main-view', data-toggle='tab') Customers
                li#employees-menu-pill
                  a(href='#employees-main-view', data-toggle='tab') Staff
                li#suppliers-menu-pill
                  a(href='#suppliers-main-view', data-toggle='tab') Suppliers
              .tab-content
                #customers-main-view.tab-pane.active
                  .tabbable
                    ul.nav.nav-tabs
                      li#customers-list-tab.active
                        a(href='#customers-list-view-content', data-toggle='tab') List
                      li#customer-item-tab
                        a(href='#customer-item-view-content', data-toggle='tab') View
                      li#customer-create-tab
                        a(href='#customer-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #customers-list-view-content.tab-pane.active
                      #customer-item-view-content.tab-pane
                      #customer-create-view-content.tab-pane
                #employees-main-view.tab-pane
                  .tabbable
                    ul.nav.nav-tabs
                      li#employees-list-tab.active
                        a(href='#employees-list-view-content', data-toggle='tab') List
                      li#employee-item-tab
                        a(href='#employee-item-view-content', data-toggle='tab') View
                      li#employee-create-tab
                        a(href='#employee-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #employees-list-view-content.tab-pane.active
                      #employee-item-view-content.tab-pane
                      #employee-create-view-content.tab-pane
                #suppliers-main-view.tab-pane
                  .tabbable
                    ul.nav.nav-tabs
                      li#suppliers-list-tab.active
                        a(href='#suppliers-list-view-content', data-toggle='tab') List
                      li#supplier-item-tab
                        a(href='#supplier-item-view-content', data-toggle='tab') View
                      li#supplier-create-tab
                        a(href='#supplier-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #suppliers-list-view-content.tab-pane.active
                      #supplier-item-view-content.tab-pane
                      #supplier-create-view-content.tab-pane
          div#finances-main-content.tab-pane
            div.page-header
              h1 Finance <small> graphing every penny </small>
            div
              ul.nav.nav-pills
                li#finance-menu-pill.active
                  a(href='#products-main-view', data-toggle='tab') Sales
              .tab-content
                #finances-main-view.tab-pane.active
                  .tabbable
                    ul.nav.nav-tabs
                      li#finances-list-tab.active
                        a(href='#finances-list-view-content', data-toggle='tab') List
                      li#finance-item-tab
                        a(href='#finance-item-view-content', data-toggle='tab') View
                    .tab-content
                      #finances-list-view-content.tab-pane.active
                      #finance-item-view-content.tab-pane
